<div class="col-xs-12 search-container nopadding">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-5">
			<a href="./" title="ReactJS TMDb Movie Search"><img src='https://www.themoviedb.org/assets/static_cache/27b65cb40d26f78354a4ac5abf87b2be/images/v4/logos/powered-by-rectangle-green.svg' class="logo" alt="The Movie Database" /></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-7">
			<form class="searchbox">
                <input class="searchbox__input form-control" type="text" placeholder="Search Movie Title..." name="searchbox_value" [(ngModel)]="searchbox_value"  id="search-box" (keyup)="search(searchbox_value)"/> 
              </form>
              <ul *ngIf="searchbox_value" class="search-result">
				<li class="movies-hint" *ngFor="let movie of (movies_found ? movies_found.slice(0,5): [])" > 
				  <a (click)="getMovie(movie.id)" class="movie">
				    {{movie.title}}
				  </a>
				</li>
			</ul>
		</div>
	</div>
</div>