<div id="outer-container">
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <div class="row">
      <div  class="col-xs-12 col-lg-10 offset-lg-1">
        <div id="app">
          <app-movie-finder [appmovie_ref] = "appMovie" > </app-movie-finder>
          <app-movie #appMovie> </app-movie>
        </div>
        <footer>
            <span><a rel="author">Designed &amp; developed by Me</a> </span>
            <span><a href="https://github.com/" title="View Github Repo"><i class="icon ion-social-github" aria-hidden="true"></i>View Code</a></span>
        </footer>
      </div>
    </div>
  </div>
</div>


